@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Курсовой проект на тему: Деканат, система учёта ВКР</p>
<p>Выполнил: Студент группы ИСТ-118 Голубев С.А.</p>
<p>Почта для связи: ser.golubev2014@ya.ru</p>
<p>Я в ВК: vk.com/alexishida</p>
