@model Decanat.Models.DecanatModels.TeachersInKafedraView

@{
    ViewBag.Title = "getTeachersInKafedra";
}

<h2>getTeachersInKafedra</h2>

<div>
    <h4>TeachersInKafedraView</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>

